<header class='carousel' id='header' data-scroll-speed='3'>
	<div class='carousel carousel-cont' id='slider-cont'>
  	<div u='slides' class='carousel carousel-slide'>
    	<div>
	      <img u='image' src="<%= asset_path('CopperDoor2.jpg') %>" />
	    </div>
	    <div>
	      <img u='image' src="<%= asset_path('CopperDoor1.JPG') %>" />
	    </div>
	    <div>
	      <img u='image' src="<%= asset_path('CopperDoor5.jpg') %>" />
	    </div>
	  </div>
	</div>
</header>

<main class='main home'>
	<div class='container full clearfix' id='expo-info-home'>
		<div class='column'>
			<h3 class='section-title'>Monster Mondays: PVP Battle </h3>
			<div class='section-title'>
				<h6 class='section-subtitle'>At 8:00 pm , February 8th, 2016</h6>
				<!-- <h6 class='section-subtitle'>1pm - 7pm</h6> -->
				<h6 class='section-subtitle'>The Copper Door</h6>
				<h6 class='section-subtitle'>225 N Broadway, Santa Ana, CA 92701</h6>
				<h6 class='section-subtitle'>$10.00 at the door</h6>
			</div>
			<p class='section-text'> Hello fellow Monsters! Our first Monster VR event was fun for all, and we are going to keep doing it every month here at Copper Door! Not only does it help with the generation of ideas, but you guys really seemed to find something for each of you among the demos, friendly people, and a good old fashioned brew.</br>The next Monster Monday is going to be all about VR E-Sports. Do you remember being in the classic Arcade as a kid? Well we are bringing back the old school arcade battle with different multiplayer games created by the community.</br>
			Our last PVP was Tank Monsters VR.</br> Here’s how it works: 2 Vives  are networked together, which lets us sync up so users can play PLAYER V. PLAYER battles! First to arrive are the first to sign up. You compete in a 32 person tourment bracket against other players in the bar. The winner gets to advance, while the fallen opponent has to exit the game. Whoever is left standing at the end of the competition is crowned “King of the Hill for VR”. If this sounds like your jive, then please sign up and bring your A-game.</br> See you at Monster Monday!</p>
		</div>
	<div class='container clearfix' id='exhibitor-signup'>
		<div class='column'>
			<a class='button' href='http://eventfire.com/event/monster-monday-2/' target='_blank'>Get Tickets</a>
		</div>
	</div>		
	</div>

	<%= render 'partials/map' %>
	<%= render 'partials/copperMapScript' %>
</main>
