<header class='carousel' id='header' data-scroll-speed='3'>
	<div class='carousel carousel-cont' id='slider-cont'>
  	<div u='slides' class='carousel carousel-slide'>
    	<div>
	      <img u='image' src="<%= asset_path('CopperDoor2.jpg') %>" />
	    </div>
	    <div>
	      <img u='image' src="<%= asset_path('CopperDoor1.JPG') %>" />
	    </div>
	    <div>
	      <img u='image' src="<%= asset_path('CopperDoor5.jpg') %>" />
	    </div>
	  </div>
	</div>
</header>

<main class='main home'>
	<div class='container full clearfix' id='expo-info-home'>
		<div class='column'>
			<h3 class='section-title'>Monster Mondays: PVP Battle </h3>
			<div class='section-title'>
				<h6 class='section-subtitle'>At 8:00 pm , January 18th, 2015</h6>
				<!-- <h6 class='section-subtitle'>1pm - 7pm</h6> -->
				<h6 class='section-subtitle'>The Copper Door</h6>
				<h6 class='section-subtitle'>225 N Broadway, Santa Ana, CA 92701</h6>
				<h6 class='section-subtitle'>$10.00 at the door</h6>
			</div>
			<p class='section-text'> Hello VR Troopers,Do you remember being in the classic Arcade as a kid. You remember how your friends at the arcade would have battles for Street Fighter, Tekken, or any other Player Vs Player battle. Well we are bringing back the old school arcade battle with Tank Monsters VR! Here’s how it works:2 Vives  are networked together, which lets us sync up so users can play PLAYER Vs. PLAYER battles! Whoever is left standing at the end of the competition is crowned “King of the Hill for VR”. If this sounds like your jive, then please sign up and bring your A-game. $10 at the Door unless you are demoing with VR experience for the night.   </p>
		</div>
	<div class='container clearfix' id='exhibitor-signup'>
		<div class='column'>
			<a class='button' href='http://eventfire.com/event/monster-monday-2/' target='_blank'>Get Tickets</a>
		</div>
	</div>		
	</div>

	<%= render 'partials/map' %>
	<%= render 'partials/copperMapScript' %>
</main>
